* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  /* height: 100%; */
  background: #eff0f2;
  margin: 0px;
  padding: 0px;
  /* overflow-x: hidden; */
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.text-16 {
  font-size: 1.6rem;
}

.text-white {
  color: #fff !important;
}

.columnBorder {
  border-right: 0.2px solid lightgrey !important;
  border-left: 0.2px solid lightgrey !important;
}

.ReactTable .rt-thead {
  overflow-y: scroll;
}

.ReactTable .rt-thead::-webkit-scrollbar {
  background: transparent;
}

.ReactTable .rt-tfoot {
  overflow-y: scroll;
}

.ReactTable .rt-tfoot::-webkit-scrollbar {
  background: transparent;
 }



.Navbar {
  background-color: #2D2F30;
  display: flex;
  /* padding: 5px; */
  font-family: sans-serif;
  color: white;
}
.Navbar__Link {
  padding-right: 8px;
}
.Navbar__Items {
  display: flex;
}
.Navbar__Items--right {
  margin-left:auto;
}
.Navbar__Link-toggle {
  display: none;
}
.phone {
  margin-top: 25px;
  margin-left: 50px;
  font-size: 24px;
}

@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
.Navbar__Items {
    display:none;
  }
.Navbar__Items--right {
    margin-left:0;
  }
.Navbar__ToggleShow {
    display: flex;
  }
.phone {
  margin-top: 10px;
  margin-left: 30px;
  font-size: 20px;
}
.Navbar__Link-toggle {
    margin-top: 10px;
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
   }
}
